:root {
  font-size: 16px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  --bg-primary: #05386b;
  --bg-secondary: #e8a87c;
  --transition-speed: 600ms;
}

html {
  scroll-behavior: smooth;
}

body {
  color: black;
  background-color: white;
  margin: 0px;
  padding: 0px;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}
body::-webkit-scrollbar-track {
  background: #555;
}

body::-webkit-scrollbar-thumb {
  background: lightblue;
}

main {
  color: rgb(255, 255, 255);
  margin-left: 5rem;
  padding: 1rem;
}

#head1 h1 {
  font-size: 90px;
  font-family: "Playfair Display", serif;
  text-align: center;
  position: absolute;
  top: 41%;
  left: 52%;
  transform: translate(-50%, -50%);
  animation-name: texan;
  animation-timing-function: linear;
  animation-duration: 3s;
  animation-iteration-count: 1;
}

.navbar {
  width: 5rem;
  height: 100vh;
  position: fixed;
  background-color: #05386b;
  transition: width 200ms ease;
}

.nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.nav-item {
  width: 100%;
}
.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: #edf5e1;
  text-decoration: none;
  filter: opacity(0.7);
  transition: 600ms;
}
.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: #e8a87c;
}

.link-text {
  display: none;
  margin-left: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}
.nav-link svg {
  min-width: 2rem;
  margin: 0 1.5rem;
}

.navbar:hover {
  width: 16rem;
}

.navbar:hover .link-text {
  display: block;
}

.fa-primary {
  color: lightblue;
}
.fa-secondary {
  color: #2f2fa2;
}

.fa-primary,
.fa-secondary {
  transition: 600ms;
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  background: #05386b;
  color: #2f2fa2;
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  transition: 600ms;
}
.navbar:hover .logo svg {
  transform: rotate(-180deg);
}

/*footer {
  background: var(--bg-secondary);
  color: black;
  padding: 20px;
  margin-top: auto;
  margin-left: 5rem;
  padding: 1rem;
}
*/
.video {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

@keyframes texan {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

/* Display Page */
#suits {
  margin-top: 700px;
  height: 700px;
}

.suit-content {
  margin: 40px;
  margin-bottom: 5px;
  display: flex;
}
.suit-content2 {
  margin: 40px;
  margin-bottom: 100px;
  margin-top: 0px;
  display: flex;
}

.image {
  border: 2px solid lightblue;
  padding: 34px;
  margin: 34px 6px;
  border-radius: 28px;
  background: #e8a87c;
}
.image h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  text-align: center;
}

.image img {
  align-content: center;
  height: 400px;
  padding-left: 30px;
}

.d-title {
  text-align: center;
  font-size: 100px;
}
