html {
  scroll-behavior: smooth;
}

body {
  color: black;
  background-color: white;
  margin: 0px;
  padding: 0px;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}
body::-webkit-scrollbar-track {
  background: #555;
}

body::-webkit-scrollbar-thumb {
  background: lightblue;
}

main {
  color: rgb(255, 255, 255);
  margin-left: 80px;
  padding: 16px;
}

/* HOME */
#head1 img {
  font-size: 90px;
  font-family: "Playfair Display", serif;
  text-align: center;
  position: absolute;
  top: 41%;
  left: 52%;
  transform: translate(-50%, -50%);
  animation-name: texan;
  animation-timing-function: linear;
  animation-duration: 3s;
  animation-iteration-count: 1;
}
@keyframes texan {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

/* VIDEO */
.video {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: -1;
}

/* NAVBAR */
.navbar {
  width: 5rem;
  height: 100vh;
  position: fixed;
  background-color: #05386b;
  transition: width 200ms ease;
}

.nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.nav-item {
  width: 100%;
}
.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 80px;
  color: #edf5e1;
  text-decoration: none;
  filter: opacity(0.7);
  transition: 600ms;
}
.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: #e8a87c;
}

.link-text {
  display: none;
  margin-left: 16px;
  font-family: "Exo 2", sans-serif;
  font-size: 18px;
  font-weight: bold;
}
.nav-link svg {
  min-width: 32px;
  margin: 0 24px;
}

.navbar:hover {
  width: 256px;
}

.navbar:hover .link-text {
  display: block;
}

.fa-primary {
  color: lightblue;
}
.fa-secondary {
  color: #2f2fa2;
}

.fa-primary,
.fa-secondary {
  transition: 600ms;
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  background: #05386b;
  color: #2f2fa2;
  text-align: center;
  font-size: 24px;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  transition: 600ms;
}
.navbar:hover .logo svg {
  transform: rotate(-180deg);
}

/* ABOUT */

#about {
  margin-top: 700px;
  padding: 40px;
}

#about h1 {
  text-align: center;
  color: black;
  font-size: 72px;
  font-family: "Noto Serif Display", serif;
  font-weight: bold;
}

#about h2 {
  text-align: center;
  color: black;
  font-size: 48px;
  font-family: "Noto Serif Display", serif;
}

#about .p1 {
  text-align: center;
  color: black;
  font-size: 24px;
  font-family: "Zen Antique", serif;
}
#about .p2 {
  text-align: center;
  color: black;
  font-size: 24px;
  font-family: "Zen Antique", serif;
}
#about .p3 {
  text-align: center;
  color: black;
  font-size: 24px;
  font-family: "Zen Antique", serif;
}

#about button {
  background-color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 42%;
}

/* DISPLAY PAGE */
#display {
  margin-top: 200px;
}

.display-content {
  margin: 40px;
  margin-bottom: 5px;
  display: flex;
}

.image h2 {
  font-family: "Exo 2", sans-serif;
  color: black;
  text-align: center;
  margin-left: 10px;
  font-weight: bold;
  font-size: 35px;
}

.image img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  text-align: center;
  padding: 40px;
}

.image2 img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  text-align: center;
  padding: 40px;
}

.image2 h2 {
  font-family: "Exo 2", sans-serif;
  color: black;
  text-align: center;
  margin-left: 10px;
  font-weight: bold;
  font-size: 35px;
}
.image p {
  padding-left: 35px;
  padding-top: 0px;
  padding-right: 20px;
  text-align: center;
  color: black;
  font-size: 22px;
  font-family: "Zen Antique", serif;
}
.image2 p {
  padding-left: 35px;
  padding-top: 0px;
  padding-right: 20px;
  text-align: center;
  color: black;
  font-size: 22px;
  font-family: "Zen Antique", serif;
}
.d-title {
  text-align: center;
  font-size: 70px;
  font-family: "Noto Serif Display", serif;
  color: black;
}

/* CONTACT */
#contact {
  margin-top: 200px;
  margin-bottom: 100px;
}

#contact .c-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#contact .c-content .part1 {
  width: auto;
  height: 100%;
}

.c-content .part1 .address,
.phone,
.email {
  margin: 14px;
  text-align: center;
}

#contact .c-content .part2 {
  width: auto;
  margin-left: 50px;
}

#contact .c-content .part3 {
  width: auto;
  margin-left: 50px;
}
svg {
  width: 2rem;
  margin: 0 1.5rem;
}

.c-content .part1 .address svg,
.phone svg,
.email svg {
  color: #05386b;
}
.c-content .part1 .address .titl,
.phone .titl,
.email .titl {
  font-size: 50px;
  font-weight: bold;
  color: black;
  font-family: "Noto Serif Display", serif;
}
.c-content .part1 .address .add,
.phone .add,
.email .add {
  font-size: 18px;
  color: black;
  font-family: "Zen Antique", serif;
}

.c-content .part2 .contact-us {
  font-size: 50px;
  color: black;
  font-family: "Noto Serif Display", serif;
  font-weight: bold;
}
.c-content .part2 p {
  font-size: 25px;
  color: black;
  font-family: "Zen Antique", serif;
}

.part2 .form-text {
  height: 50px;
  width: 100%;
  margin: 12px 0;
}

.part2 .form-text input,
textarea {
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 6px;
  background-color: #f0f1f8;
  font-size: 16px;
  font-weight: bold;
  padding: 0 15px;
}
.part2 button {
  background-color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.part3 img {
  border-radius: auto;
}

.part3 h2 {
  font-size: 50px;
  color: black;
  font-family: "Noto Serif Display", serif;
  font-weight: bold;
}

/* FOOTER */
footer {
  background: #05386b;
  color: black;
  padding: 20px;
  margin-top: auto;
  margin-left: 5rem;
  padding: 1rem;
  font-family: "Zen Antique", serif;
  font-size: 18px;
  letter-spacing: 4px;
}
